/* .about {
  padding: 50px;
  background: #f9f9f9;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.profile-img {
  width: 200px;
  border-radius: 50%;
}

.about-text {
  margin-bottom: 15px;
  line-height: 1.6;
  max-width: 600px;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
  text-align: justify;
}

.btn {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
} */